body {
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 400px;
  border: rgb(66, 72, 80) solid 5px;
  margin: auto;
  background-color: rgb(66, 72, 80);
  border-radius: 5px;
}

.display {
  height: 100px;
  font-size: 70px;
  display: flex;
  flex-direction: column-reverse;
  text-align: right;
  padding: 5px 20px;
  background-color: lightsalmon;
  border: rgb(66, 72, 80) solid 2px;
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
  flex: 1;
  
}

.rows {
  display: flex;
  flex: 1 auto;
}

button {
  flex: 1;
  background-color: azure;
  border: rgb(66, 72, 80) solid 2px;
  font-size: medium;
  border-radius: 5px;
}
